a{
  color: black;
}
div a img:hover {
  opacity: .5;
}
a:hover{
  text-decoration: none;
}
a{
  height:600px;
  width:600px;
}
img{
    zoom: .8;  //increase if you have very small images
}
h1{
  text-align: center;
}
p{
  text-align: center;
}
.wrapper {
    text-align: center;
}
.searchbar{
  text-align: center;
}
body{
  background-color: black;

}
.container{
  background-color: white;
}
#space{
  width:750px;
  height: 1000px;
}
.row-eq-height{
   margin-top:20px;
}
input[type=text] {
    height:30px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    height:30px;
    width: 50%;
}
.jumbotron{
  margin:0px;
  padding:20px;
}
